:root {
	--main-font: Roboto;
	--primary-color: #fafafa;
	--alt-color: #fefefe;
	--default-color: #121212;
	--button-color: var(--alt-color);
	--button-background: rgb(70, 193, 55);
	--button-border: none;
	--button-active-color: var(--button-color);
	--button-active-background: rgb(4, 108, 11);
	--button-active-border: var(--button-border);
	--button-padding: 0.5rem 1.3rem;
	--button-border-radius: 6px;
}
